[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wave = "*"
scipy = "*"
numpy = "*"
wavefile = "*"
typing = "*"
pampy = "*"
singledispatch = "*"
multimethod = "*"
ipython = "*"
abc = "*"

[requires]
python_version = "3.8"
